<div class="container">
    <div class="row">
    
      <div class="col-sm-2 col-md-3 fadeInLeft">
         <h5>© 2018. Slipseknuden.</h5>
      </div>
    
      <div class="col-sm-2 col-md-2 fadeInLeft">
         <h5>Slipsevej 79</h5>
      </div>
    
      <div class="col-sm-2 col-md-2 fadeInLeft">
         <h5>4000    Holbæk</h5>
      </div>
    
      <div class="col-sm-2 col-md-2 fadeInLeft">
          <h5>slips@slipseknuden.dk</h5>
      </div>
    
      <div class="col-sm-2 col-md-2 fadeInLeft">
         <h5>Telefon: 5944-1234.</h5>
      </div>
    
    </div> <!--End row-->

</div> <!--End container-->