 <!-- Nav -->
 <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">

  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
    </div>

    <div class="collapse navbar-collapse" id="myNavbar">

      <ul class="nav navbar-nav">
        <li><a href="/">HJEM</a></li>
        <li><a href="/om">OM SLIPSEKNUSEN</a></li>
        <li><a href="/garanti">GARANTI</a></li>
        <li><a href="/kontakt">KONTAKT</a></li>
        <li><a href="/nyheder">NYHEDER</a></li>
        <li><a href="/produkt">PRODUKTER</a></li>
      </ul>
      <form action="#">
          <input type="text" class="searchbox">
          <a href="#"><i class="fa fa-search fa-lg" aria-hidden="true"></i></a>
      </form>
          <a href="#"><i class="fa fa-facebook fa-lg" aria-hidden="true"></i></a>
          <a href="#"><i class="fa fa-twitter fa-lg" aria-hidden="true"></i></a>
    </div>
  </div>

  </div>
</nav><!-- End Nav -->