<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ../partials/head %>
    </head>

<body class="container">
    <div class="wrapper">

           <header>
               <% include ../partials/header %>
           </header> 
<!-- Logo -->
<div class="fixed-top container">
        <div class="row">
           <div class="col-sm-2 col-md-3">
              <img src="./img/logo.jpg" alt="logo" style="width:280px;">
           </div>
    </div>
</div>
<!-- End Logo -->
      <div class="main container"><!--Main Container-->
        <div class="container"><!-- PRODUCT container-->
          <div class="row row-eq-height"><!-- PRODUCT Row -->
      
      
      <div class="sidebar col-sm-3" style="padding:0px;">
      
       <div class="sidenav">
          <h4><b>PRODUKTER</b></h4>
          <ul>
           <li><a href="#about">ALLE</a></li>
           <li><a href="#services">SHOON</a></li>
           <li><a href="#clients">KOREA SPECIAL</a></li>
           <li><a href="#contact">US. IMPORTS</a></li>
           <li><a href="#contact">SLEEK FABRICS UK</a></li>
         </ul>
       </div>
      
       <% include ../partials/sideprodukt %>
      
      </div>
      
      
      <div class="maincontent col-xs-9"><!--Main Col Home-->
      
      
      <div class="row"><!--Row 1 Om-->
       <div class="prod-text-om col-md-12" style="padding-left:10%;">
      
        <h4><b>Reklamation</b></h4>
      
        <p>slipseknuden.eu kontrollerer alle varer inden afsendelse. Skulle der alligevel være 
          fejl ved en ekspedition henvises til den returseddel, der følger med din ordre. Denne 
          returseddel udfyldes og returneres sammen med varerne. Varer der returneres med 
          reklamation, bliver repareret eller erstattet af en ny leverance indenfor 7 dage fra 
          modtagelsen. Haves erstatningsvare ikke, vil det betalte beløb blive krediteret indenfor 
          7 dage. Derudover gælder naturligvis den 2-årige reklamationsfrist i henhold til købeloven.</p>
          <br>
      
        <p>Du er også velkommen til at kontakte vores kundeservice på salg@slipseknuden.eu 
          eller tlf. (+45) 5944-1234. Vi beder dig have dit ordrenummer ved hånden.</p>
       </div>
      
      
      <div class="prod-text-om col-md-12" style="padding-left:10%;"><br><br>
          <p>Returadressen er:</p>
          <p><b>Slipseknuden</b></p>
          <p><b>Slipsevej 79</b></p>
          <p><b>4000 Holbæk</b></p>
          <p><b>Telefon: 5944-1234</b></p>
          <p><b>slips@slipseknuden.dk</b></p>
      </div>
      
       <div class="prod-text-om col-md-7 col-md-offset-3" style="padding-left:10%;">
          <img class="img-responsive" src="img/back_slips.jpg" alt="img">
        </div>
      </div><!--End Row 1 Om-->
      
      
      
      </div><!--End of Main Col Home-->
             
          </div><!-- End of Row-->
        </div><!--End PRODUCT container-->
      </div><!--End Main Container-->  
      
    <footer class="footer">
        <% include ../partials/footer %>
    </footer>

    </div> <!--End wrapperr-->
</body>
</html>


