<!DOCTYPE html>
<html lang="en">
<head>
   <% include ../partials/head %>
</head>
<body class="container">
  <div class="wrapper">

    <header>
            <% include ../partials/header %>
    </header>


<!-- Logo -->
 <div class="fixed-top container">
   <div class="row">
      <div class="col-sm-2 col-md-3">
         <img src="./img/logo.jpg" alt="logo" style="width:280px;">
      </div>
    </div>
</div>
<!-- End Logo -->
     
     
     
     <div class="main container"><!--Main Container-->
       <div class="container"><!-- PRODUCT container-->
         <div class="row row-eq-height"><!-- PRODUCT Row -->
     
     
     <div class="sidebar col-sm-3" style="padding:0px;">
     
      <div class="sidenav">
         <h4><b>PRODUKTER</b></h4>
         <ul>
          <li><a href="#about">ALLE</a></li>
          <li><a href="#services">SHOON</a></li>
          <li><a href="#clients">KOREA SPECIAL</a></li>
          <li><a href="#contact">US. IMPORTS</a></li>
          <li><a href="#contact">SLEEK FABRICS UK</a></li>
        </ul>
      </div>
     
     
      <div class="sideunderdiv"> 
       <br><br>
     
       <div class="sidecontent">
       <p><b>SLIPSKNUDEN ONLINE</b></p>
       <p>VI LANCERE NU VORES 
           HJEMMESIDE MED BILLEDER 
           AF VORES ALLER FINESTE SLIPS</p>
       <p><b>LÆS MERE..</b></p>
       </div><br>
     
       <div class="sidecontent">
       <p><b>SLIPSKNUDEN ONLINE</b></p>
       <p>VI LANCERE NU VORES 
           HJEMMESIDE MED BILLEDER 
           AF VORES ALLER FINESTE SLIPS</p>
       <p><b>LÆS MERE..</b></p>
       </div><br>
     
      </div>
     
     </div>
     
     
     <div class="maincontent col-xs-9"><!--Main Col Home-->
     
     
     <div class="row row-eq-height"><!--Row 1 home-->
     
     <div class="prod-box-home col-xs-5" style="padding:0px;">
     
      <div class="prod-img-home">
       <img class="img-responsive" src="./img/slips_2.jpg" alt="img">
      </div>
     
      <div class="prod-text-home">
       <h4>Div box 1</h4>
       <p>This just samething to try.</p>
       <h4>DKK 900,-</h4>
       <button type="button" class="prod-btn btn">INFO</button>
      </div>
     
     </div>
     
     <div class="prod-box-home col-xs-5" style="padding:0px;">
     
      <div class="prod-img-home">
       <img class="img-responsive" src="./img/slips_1.jpg" alt="img">
      </div>
     
      <div class="prod-text-home">
       <h4>Div box 1</h4>
       <p>This just samething to try.</p>
       <h4>DKK 900,-</h4>
       <button type="button" class="prod-btn btn">INFO</button>
      </div>
     
     </div>
     
     </div><!--Row 1 home-->
     
     
     
     <div class="row"><!--Row 2 home-->
      <div class="prod-text-home col-md-12" style="padding-left:10%;">
       <br><br>
     
       <h4>Hvor startede det hele henne - hvem var de første der bar slips?</h4>
     
       <p>Man skal helt tilbage til omkring år 1660, hvor kong Ludvig den 14. 
         regerede Frankrig, for at finde starten på det hele. Kongen gik utrolig 
         meget op i mode og beklædning. Efter at kroatiske soldater havde besejret 
         Det Osmanniske Rige, deltog kongen i et optog hvor alle soldaterne skulle 
         gå forbi. Her bemærkede han at alle soldaterne bar et stykke rødt stof om 
         halsen. Kongen var så begejstret for det lille stykke klæde, at han valgte 
         at hans kongelige regiment skulle bære halsklude i farven rød.</p>
     
       <p>Halskluden blev hurtig populær i resten af Europa, og var man en herre med 
         stil, skulle man bære det. Efterhånden som tiden gik og moden skiftede, blev 
         kluden mere kraftig. Da man når til 1800 tallet, var der en modeskaber fra 
         England, som af pratiske årsager valgte at gøre kluden mindre, så den ikke 
         var så fremtrædende - det har udviklet sig til det vi i dag kalder slips. 
         I dag er det ikke længere noget der kun bæres af en bestemt gruppe mennesker 
         eller til jakkesæt. I dag bæres det af mange forskellige typer mennesker og 
         slips findes i næsten lige så mange udgaver.</p>
     
      </div>
     </div><!--Row 2 home-->
    </div><!--End of Main Col Home-->
            
         </div><!-- End of Row-->
       </div><!--End PRODUCT container-->
     </div><!--End Main Container-->     

    <footer class="footer">
        <% include ../partials/footer %>
    </footer>
    

  </div> <!--End wrapper--> 
</body>
</html>