<!DOCTYPE html>
<html>
<head>
   <% include ../partials/head %>
</head>
<body class="container">
    <div class="wrapper">

<header>
    <% include ../partials/header %>
</header>

<div class="fixed-top container">
    <div class="row">
        <div class="col-sm-2 col-md-3">
            <img src="./img/logo.jpg" alt="logo" style="width:280px;">
        </div>
    </div>
</div>

<div class="main container"><!--Main Container-->
  <div class="container"><!-- PRODUCT container-->
    <div class="row row-eq-height"><!-- PRODUCT Row -->


<div class="sidebar col-sm-3" style="padding:0px;">

 <div class="sidenav">
    <h4><b>PRODUKTER</b></h4>
    <ul>
     <li><a href="#about">ALLE</a></li>
     <li><a href="#services">SHOON</a></li>
     <li><a href="#clients">KOREA SPECIAL</a></li>
     <li><a href="#contact">US. IMPORTS</a></li>
     <li><a href="#contact">SLEEK FABRICS UK</a></li>
   </ul>
 </div>

 <% include ../partials/sideprodukt %>
 
</div>
<!--End sidebar col-sm-3-->

<div class="sidebar col-sm-3 col-sm-offset-1" style="padding:0px;">

        <div class="sidenav info">
           <h4><b>Kontakt</b></h4>
           <b>NAVN</b><input class="inputfelt" type="text"> <br>
           <b>E-MAIL</b><input class="inputfelt" type="text"> <br>
           <b>BESKED</b><textarea type="text" class="inputfelt scroll"></textarea>
        </div>
       
           <!--End side-pord-box-->
       
           <div class="side-pord-box col-sm-4" id="godown">
               <!--side-pord-box-->
       
               <div class="side-pord-info text-right">
                   <p>
                       <b>Slipseknuden</b>
                   </p>
                   <p>
                        <b>Slipsevej 79</b>
                   </p>
                   <p>
                       <b>4000 Holbæk</b>
                   </p>
                   <p>
                       <b>Telefon: 5944-1234</b>
                   </p>
                   <p>
                       <b>slips@slipseknuden.dk</b>
                   </p>
               </div>
       
           </div>
       </div> <!--End sidebar col-sm-3-->



</div><!--End of Main Col Home-->
       
    </div><!-- End of Row-->
  </div><!--End PRODUCT container-->
</div><!--End Main Container-->  




<footer class="footer">
    <% include ../partials/footer %>
</footer>

 </div>
</body>
</html>