<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
</head>

<body class="container">
    <div class="wrapper">

        <header>
            <% include ../partials/header %>
        </header>
<!-- Logo -->
<div class="fixed-top container">
    <div class="row">
        <div class="col-sm-2 col-md-3">
            <img src="./img/logo.jpg" alt="logo" style="width:280px;">
        </div>
    </div>
</div>
<!-- End Logo -->

        <div class="main container">
            <!--Main Container-->
            <div class="container">
                <!-- PRODUCT container-->
                <div class="row row-eq-height">
                    <!-- PRODUCT Row -->
    
    
                    <div class="sidebar col-sm-3" style="padding:0px;">
    
                        <div class="sidenav">
                            <h4>
                                <b>PRODUKTER</b>
                            </h4>
                            <ul>
                                <li>
                                    <a href="#about">ALLE</a>
                                </li>
                                <li>
                                    <a href="#services">SHOON</a>
                                </li>
                                <li>
                                    <a href="#clients">KOREA SPECIAL</a>
                                </li>
                                <li>
                                    <a href="#contact">US. IMPORTS</a>
                                </li>
                                <li>
                                    <a href="#contact">SLEEK FABRICS UK</a>
                                </li>
                            </ul>
                        </div>
    
    
                        <% include ../partials/sideprodukt %>

                    </div><!--End sidebar-->
    
    
                    <div class="maincontent col-xs-9">
                        <!--Main Col Home-->
    
    
                        <div class="row">
                            <!--Row 1 Om-->
                            <div class="prod-text-om col-md-12" style="padding-left:10%;">
    
                                <h4>
                                    <b>Slipseknuden.</b>
                                </h4>
    
                                <p style="margin-bottom:0px;">
                                    Slipseknuden blev etableret i 1984 da og blev straks kendt som en butik med slips i de aller fineste kvalietsslips. Tilbage
                                    i 80'erne var der 5 ansatte og siden er det gået enormt stærkt, i dag er slipseknuden en
                                    verdensomspændende æde af slipsebutkker fordelt i hele europa med tusindvis af ansatte. Slipseknuden
                                    har kun det ypperste indenfor slips. Hos os finder du kvalitetsvarer der er usammenlignelige
                                    med andre slips. Et slips fra os vil bliver bemærket overalt du måtte færdes. Vores slips
                                    signalere kvaltet og god smag!</p>
    
                            </div>
    
    
                            <div class="prod-text-om col-md-7 col-md-offset-3" style="padding-left:10%;">
    
                                <img class="img-responsive" src="img/back_slips.jpg" alt="img">
    
                            </div>
                        </div>
                        <!--End Row 1 Om-->
    
    
    
                    </div>
                    <!--End of Main Col Home-->
    
                </div>
                <!-- End of Row-->
            </div>
            <!--End PRODUCT container-->
        </div>
        <!--End Main Container-->
    
        <footer class="footer">
            <% include ../partials/footer %>
        </footer>
    </div> <!--End wrapper--> 
</body>
</html>