<!DOCTYPE html>
    <html>
    <head>
    <meta charset="utf-8">
    <title>Demo</title>

    <!--Favicon ICON-->
        <link rel="shortcut icon" href="assets/img/img_css/favicon.ico"/>
        <link rel="icon" type="image/x-icon"   href="assets/img/img_css/favicon.ico"/>
        <link rel="icon" type="image/png" href="assets/img/img_css/favicon-32x32.png" sizes="32x32"/>
        <link rel="icon" type="image/png" href="assets/img/img_css/favicon-16x16.png" sizes="16x16"/>
    <!-- Favicon -->
    
    <meta name="viewport" content="width=device-width, initial-scale=1">
   
    <!--My stylesheet-->
    <link rel="stylesheet" href="styles.css">

    <!-- Font-awesome good for icons -->
    <link rel="stylesheet" type="text/css" href="css/font-awesome-4.6.3/css/font-awesome.min.css">
    <script src="https://use.fontawesome.com/b7e758d9e6.js"></script>
   
    <!--Bootstrap stylesheet-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" 
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    
    <!-- Optional Bootstrap theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" 
    integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

  </head><body class="body">
      <div class="wrapper">
      

 <!-- Nav -->
 <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">

  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
    </div>

    <div class="collapse navbar-collapse" id="myNavbar">

      <ul class="nav navbar-nav">
        <li><a href="#">HJEM</a></li>
        <li><a href="#">OM SLIPSEKNUSEN</a></li>
        <li><a href="#">GARANTI</a></li>
        <li><a href="#">KONTAKT</a></li>
        <li><a href="#">NYHEDER</a></li>
        <li><a href="#">PRODUKTER</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
      <li><form class="navbar-form navbar-right form-horizontal" role="search">
       <div class="input-group">
        <input type="text" class="search-box" placeholder="Search">

        <button type="submit" class="social"><span class="fa-stack fa-1x">
         <i class="fa fa-stack-1x"></i><i class="fa fa-stack-1x fa-search"></i>
        </span></button>

        </div>
      </form></li>

       <li><a href="#" class="social">
       <span class="fa-stack fa-1x">
       <i class="fa fa-stack-1x"></i>
       <i class="fa fa-stack-1x fa-facebook"></i>
       </span></a></li>

       <li><a href="#" class="social">
       <span class="fa-stack fa-1x">
       <i class="fa fa-stack-1x"></i>
       <i class="fa fa-stack-1x fa-twitter"></i>
       </span></a></li>
      </ul>
      
    </div>
  </div>

  </div>
</nav><!-- End Nav -->

<!-- Logo -->
 <div class="fixed-top container"><div class="row">
   <div class="col-sm-2 col-md-3">
    <img src="img/img_css/logo.jpg" alt="logo" style="width:280px;">
   </div>
 </div></div>
<!-- End Logo -->



<div class="main container"><!--Main Container-->
  <div class="container"><!-- PRODUCT container-->
    <div class="row row-eq-height"><!-- PRODUCT Row -->


<div class="sidebar col-sm-3" style="padding:0px;">

 <div class="sidenav">
    <h4><b>PRODUKTER</b></h4>
    <ul>
     <li><a href="#about">ALLE</a></li>
     <li><a href="#services">SHOON</a></li>
     <li><a href="#clients">KOREA SPECIAL</a></li>
     <li><a href="#contact">US. IMPORTS</a></li>
     <li><a href="#contact">SLEEK FABRICS UK</a></li>
   </ul>
 </div>


 <div class="sideunderdiv"> 
  <br><br>

  <div class="sidecontent">
  <p><b>SLIPSKNUDEN ONLINE</b></p>
  <p>VI LANCERE NU VORES 
      HJEMMESIDE MED BILLEDER 
      AF VORES ALLER FINESTE SLIPS</p>
  <p><b>LÆS MERE..</b></p>
  </div><br>

  <div class="sidecontent">
  <p><b>SLIPSKNUDEN ONLINE</b></p>
  <p>VI LANCERE NU VORES 
      HJEMMESIDE MED BILLEDER 
      AF VORES ALLER FINESTE SLIPS</p>
  <p><b>LÆS MERE..</b></p>
  </div><br>

  <div class="sidecontent">
  <p><b>SLIPSKNUDEN ONLINE</b></p>
  <p>VI LANCERE NU VORES 
      HJEMMESIDE MED BILLEDER 
      AF VORES ALLER FINESTE SLIPS</p>
  <p><b>LÆS MERE..</b></p>
  </div><br>

 </div>

</div>




<div class="maincontent col-xs-9"><!--Main Col Home-->






<div class="side-pord-box col-sm-4"><!--side-pord-box-->

 <div class="side-pord-img">
   <img class="img-responsive" src="img/img_css/slips_3.jpg" alt="img">
 </div> 
 
 <div class="side-pord-info">
   <p><b>Div box</b></p>
   <p>samething to try.</p>
   <br>
   <p><b>DKK 900,-</b></p>
 
 </div>  <button type="button" class="prod-btn btn">INFO</button>

</div><!--End side-pord-box-->

<div class="side-pord-box col-sm-4"><!--side-pord-box-->

 <div class="side-pord-img">
   <img class="img-responsive" src="img/img_css/slips_3.jpg" alt="img">
 </div> 
 
 <div class="side-pord-info">
   <p><b>Div box</b></p>
   <p>samething to try.</p>
   <br>
   <p><b>DKK 900,-</b></p>
   <button type="button" class="prod-btn btn">INFO</button>
 </div>

</div><!--End side-pord-box-->


<div class="side-pord-box col-sm-4"><!--side-pord-box-->

  <div class="side-pord-img">
    <img class="img-responsive" src="img/img_css/slips_3.jpg" alt="img">
  </div> 
  
  <div class="side-pord-info">
    <p><b>Div box</b></p>
    <p>samething to try.</p>
    <br>
    <p><b>DKK 900,-</b></p>
    <button type="button" class="prod-btn btn">INFO</button>
  </div>
 
 </div><!--End side-pord-box-->



</div><!--End of Main Col Home-->
       
    </div><!-- End of Row-->
  </div><!--End PRODUCT container-->
</div><!--End Main Container-->  






<!----------- Footer ------------>
<footer class="footer">
  <div class="container">
    <div class="row">

  <div class="col-sm-2 col-md-3 fadeInLeft">
  <h5>© 2018. Slipseknuden.</h5>
  </div>

  <div class="col-sm-2 col-md-2 fadeInLeft">
  <h5>Slipsevej 79</h5>
  </div>

  <div class="col-sm-2 col-md-2 fadeInLeft">
  <h5>4000    Holbæk</h5>
  </div>

  <div class="col-sm-2 col-md-2 fadeInLeft">
  <h5>slips@slipseknuden.dk</h5>
  </div>

  <div class="col-sm-2 col-md-2 fadeInLeft">
  <h5>Telefon: 5944-1234.</h5>
  </div>

    </div>
  </div>
</footer>
<!-----------End Footer ------------>


</div>
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" 
 integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
 </div></body>
</html>